<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qdu.java.recruit.mapper.CompanyMapper">
    <update id="updateCompany">
        UPDATE
            company
        SET
            companyName = #{companyName},
            companyLogo = #{companyLogo},
            description = #{description},
            state = #{state},
            companyCode = #{companyCode},
            companyCity = #{companyCity},
            companyProperty = #{companyProperty},
            companyScale = #{companyScale},
            companyIndustry = #{companyIndustry}
        where
            companyId = #{companyId}
    </update>
</mapper>