<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="qdu.java.recruit.mapper.PositionMapper">

    <select id="listSearchPos" resultType="qdu.java.recruit.pojo.PositionCompanyBO">
        SELECT
            p.*, c.*
        FROM
            position AS p
            Inner JOIN department AS d ON d.departmentId = p.departmentId
            Inner JOIN company AS c ON c.companyId = d.companyId
        WHERE
            statePub = 1
            <!-- keyword可以是岗位名和公司名 -->
            <!-- 岗位名称和公司名称模糊匹配 -->
            <if test="keyword!=null and keyword!=''">
                <bind name="keyword" value="'%'+keyword+'%'"/>
                and (p.title like #{keyword} or c.companyName like #{keyword})
            </if>
             <!-- 城市名称模糊匹配 -->
            <if test="workCity!=null and workCity!=''">
                <bind name="workCity" value="'%'+workCity+'%'"/>
                and p.workCity like #{workCity}
            </if>
            <!-- 最低工资 -->
            <if test="salaryDown!=null and salaryDown!=''">
                and p.salaryDown >= #{salaryDown}
            </if>
            <!-- 最高工资 -->
            <if test="salaryUp!=null and salaryUp!=''">
                and p.salaryUp &lt;= #{salaryUp}
            </if>
            <!-- 公司性质精准匹配 -->
            <if test="companyProperty!=null and companyProperty!=''">
                and c.companyProperty like #{companyProperty}
            </if>
            <!-- 公司规模精准匹配 -->
            <if test="companyScale>=0">
                and c.companyScale = #{companyScale}
            </if>
            <!-- 公司所属行业精准匹配 -->
            <if test="companyIndustry!=null and companyIndustry!=''">
                and c.companyIndustry = #{companyIndustry}
            </if>
            <!-- 排序 -->
            <if test="order!=null and order!=''">
                order by #{order}
            </if>
    </select>

</mapper>

